.about_area_rooms
{padding-top:80px;
padding-bottom:100px}

@media (max-width: 767px)
{.about_area_rooms
    {padding-top:40px;
    padding-bottom:40px
}
}
@media (min-width: 768px) and (max-width: 991px){
    .about_area_rooms
    {padding-top:40px;
        padding-bottom:80px
    }
}
@media (min-width: 992px) and (max-width: 1200px)
{
    .about_area_rooms
    {padding-top:40px;
    padding-bottom:100px
}
}
.about_area_rooms
{max-width: 100%;}
.about_area_rooms.conntainer
{max-width: 100%;
 justify-content: center;
align-items: center;
}
.about_area_rooms .col-xl-5 col-lg-5
{align-items: center; 
max-width: 100%;
}
.about_area_rooms.Query_text{
    font-family: 'GFS Didot';
    max-width: 100%; 
    display: flex; 
    align-items: center;
}
.about_area_rooms .Query_img{
    display: inline-block; 
    margin-left: 10%;
}
.about_area_rooms .container h3{
    font-weight: bold; 
    font-size: 35px;
    
}
/*.about_area_rooms .Query_text p a {
    font-family:'GFS Didot' ;
}*/
.about_area_rooms .about_info p{
    align-items: center; 
    font-family: 'GFS Didot', serif; 
    font-size:16px;
    line-height:28px;
    font-size:16px;
    line-height:28px;
    margin-top:0;
    margin-bottom:47px}
    
@media (max-width: 767px){
    .about_area_rooms .about_info a{
        margin-bottom:30px
    }
}
.about_area_rooms .about_thumb{
    -webkit-justify-content:flex-end;
    -moz-justify-content:flex-end;
    -ms-justify-content:flex-end;
    justify-content:flex-end;
    -ms-flex-pack:flex-end}

@media (min-width: 768px) and (max-width: 991px){
    .about_area_rooms .about_thumb{
        -webkit-justify-content:flex-start;
        -moz-justify-content:flex-start;
        -ms-justify-content:flex-start;
        justify-content:flex-start;
        -ms-flex-pack:flex-start;
        margin-top:30px}
    }
    .about_area_rooms .about_thumb img{width:100%}
    .about_area_rooms .about_thumb .img_2{
        margin-top:40px;
        margin-left:10px}
@media (min-width: 768px) and (max-width: 991px){
    .about_area_rooms .about_thumb2{
        margin-bottom:30px
    }
}
.about_area_rooms .about_thumb2 img{
    width:100%
}
.about_area_rooms .about_thumb2 .img_2{
    margin-top:40px;
    margin-left:10px
}
/*-------------Oak Suite IMAGES START -----------------------*/
.about_bg_1{
    background-image:url(../img/Oak_Suite/Oak\ Suite\ \(Hotel\,\ Thessaloniki\,\ Rooms\)\ 01.jpg)
}
.about_bg_2{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_10.jpg)
}
.about_bg_3{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_20.jpg)
}
.about_bg_4{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_32.jpg)
}
.about_bg_5{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_40.jpg)
}
.about_bg_6{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_50.jpg)
}
.about_bg_7{
    background-image:url(../img/Oak_Suite/Oak_Suite_Hotel_Thessaloniki_61.jpg)
}

/*----------Oak Suite IMAGES END ---------------------------*/
.Aspen_Suite_padding_container{
    padding-top: 20px;
}
/*----------Aspen Suite IMAGES START ---------------------------*/
.about_bg_10{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_1.jpg)
}
.about_bg_11{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_2.jpg)
}
.about_bg_12{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_3.jpg)
}
.about_bg_13{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_42.jpg)
}
.about_bg_14{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_5.jpg)
}
.about_bg_15{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_6.jpg)
}
.about_bg_16{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_7.jpg)
}
.about_bg_17{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_8.jpg)
}
.about_bg_18{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_9.jpg)
}
.about_bg_19{
    background-image:url(../img/Aspen_Suite/Aspen_Suite_11.jpg)
}
.about_bg_20{
    background-image:url(../img/Aspen_Suite/Aspen\ Suite\ 10.jpg)
}
/*----------Aspen Suite IMAGES END ---------------------------*/
/*----------Redwood Suite IMAGES START ---------------------------*/
.about_bg_30{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_WC_1.jpg)
}
.about_bg_31{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_1_3.jpg)
}
.about_bg_32{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_2.jpg)
}
.about_bg_33{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_3.jpg)
}
.about_bg_34{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_4.jpg)
}
.about_bg_35{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_5.jpg)
}
.about_bg_36{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_6.jpg)
}
.about_bg_37{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_7.jpg)
}
.about_bg_38{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_82.jpg)
}
.about_bg_39{
    background-image:url(../img/Redwood_Suite/WEB/Redwood_9.jpg)
}
/*----------Redwood Suite IMAGES END ---------------------------*/

.about_info_area{
    padding-left:387px;
    margin-top:50px
}

@media (min-width: 768px) and (max-width: 991px){
    .about_info_area{
        padding-left:0px
    }
}
@media (max-width: 767px){
    .about_info_area{
        padding-left:0px
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .about_info_area{
        padding-left:0px
    }
}
@media (min-width: 1200px) and (max-width: 1500px){
    .about_info_area{
        padding-left:0px}
    }
    .about_info_area .single_slider{
        height:750px;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat
    }
@media (max-width: 767px){
    .about_info_area .single_slider{
        height:400px
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .about_info_area .single_slider{
        height:400px
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .about_info_area .single_slider{
        height:500px
    }
}
.about_main_info{
    padding-top:100px
}
@media (max-width: 767px){
    .about_main_info{
        padding-top:50px
    }
}
.about_main_info .single_about_info{
    margin-bottom:43px
}
@media (max-width: 767px){
    .about_main_info .single_about_info{
        margin-bottom:30px
    }
}
.about_main_info .single_about_info h3{
    font-size:22px;
    color:#1F1F1F;
    margin-bottom:0;
    margin-bottom:10px;
    line-height:32px
}
    .about_main_info .single_about_info p{
        font-size:16px;
        line-height:28px;
        font-weight:400;
        color:#4D4D4D}
@media (max-width: 767px){
    .about_main_info .single_about_info p br{
        display:none
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .about_main_info .single_about_info p br{
        display:none
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .about_main_info .single_about_info p br{
        display:none
    }
}
@media (min-width: 1200px) and (max-width: 1500px){
    .about_main_info .single_about_info p br{
        display:none
    }
}
.offers_area{
    padding-bottom:100px
}
@media (max-width: 767px){
    .offers_area{
        padding-bottom:40px
    }
}
.offers_area.padding_top{
    padding-top:100px
}
@media (max-width: 767px){
    .offers_area.padding_top{
        padding-top:40px
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .offers_area.padding_top{
        padding-top:80px
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .offers_area.padding_top{
        padding-top:80px
    }
}
@media (max-width: 767px){
    .offers_area .single_offers{
        margin-bottom:30px
    }
}
.offers_area .single_offers .about_thumb{
    overflow:hidden
}
.offers_area .single_offers .about_thumb img{
    width:100%;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}
.offers_area .single_offers h3{
    text-align:center; 
    font-size:22px;
    font-weight:400;
    color:#1F1F1F;
    margin-top:32px
}
@media (min-width: 768px) and (max-width: 991px){
    .offers_area .single_offers h3{
        font-size:18px
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .offers_area .single_offers h3 br{
        display:none;
    }
}
.offers_area .single_offers ul{
    margin-top:17px;
    margin-bottom:30px;
}
    .offers_area .single_offers ul li{
        font-size:16px;
        color:#4D4D4D;
        line-height:28px;
        position:relative;
        z-index:9;
        padding-left:23px
    }
    .offers_area .single_offers ul li::before{
        position:absolute;
        content:"";
        width:8px;
        height:8px;
        background:#4D4D4D;
        left:0;
        top:50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        border-radius:50%}
        .offers_area .single_offers a{
            width:100%;
            text-align:center;}
            .offers_area .single_offers:hover .about_thumb img{
                width:100%;
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -ms-transform:scale(1.1);
                transform:scale(1.1)
            }