@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/trajan-pro');

@font-face {
	font-family: "TrajanPro";
	src: url(/fonts/TrajanPro3-ExtraLight2.ttf);
}

@font-face {
	font-family: 'greek_elegance';
	src: url(/fonts/greek-elegance-webfont.woff);
	src: url(/fonts/GREEK-ELEGANCE.otf);
	font-weight: normal;
	font-style: normal;
}

.header-area_suites {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	z-index: 9;
	padding-top: 28px
}

@media (max-width: 767px) {
	.header-area_suites {
		padding-top: 0
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites {
		padding-top: 0;
	}
}

.header-area_suites .main-header-area {
	padding: 0 150px
}

@media (max-width: 767px) {
	.header-area_suites .main-header-area {
		padding: 10px 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites.main-header-area {
		padding: 10px 10px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area_suites .main-header-area {
		padding: 0 20px
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area_suites .main-header-area {
		padding: 0 10px
	}
}

.header-area_suites .main-header-area .logo-img {
	text-align: center;
}

@media (max-width: 767px) {
	.header-area_suites .main-header-area .logo-img {
		text-align: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites .main-header-area .logo-img {
		text-align: left;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area_suites .main-header-area .logo-img {
		text-align: left;
	}
}

@media (max-width: 767px) {
	.header-area_suites .main-header-area .logo-img img {
		width: 70px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites .main-header-area .logo-img img {
		width: 70px;
	}
}

.header-area_suites .main-header-area .book_room {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	-ms-flex-pack: flex-end
}

.header-area_suites .main-header-area .book_room .socail_links ul li {
	display: inline-block
}

.header-area_suites .main-header-area .book_room .socail_links ul li a {
	color: #A8A7A0;
	margin: 0 10px;
	font-size: 15px
}

.header-area_suites .main-header-area .book_room .socail_links ul li a:hover {
	color: #fff
}

.header-area_suites .main-header-area .book_room .book_btn {
	margin-left: 30px
}

.header-area_suites .main-header-area .book_room .book_btn a {
	background: #009DFF;
	padding: 12px 26px;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	color: #fff
}

.header-area_suites .main-header-area .book_room .book_btn a:hover {
	background: #fff;
	color: #009DFF;
	border: 1px solid #009DFF
}

.header-area_suites .main-header-area .main-menu {
	text-align: center;
	padding: 12px 0
}

.header-area_suites .main-header-area .main-menu ul li {
	display: inline-block;
	position: relative;
	margin-right: 50px
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area_suites .main-header-area .main-menu ul li {
		margin-right: 20px
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area_suites .main-header-area .main-menu ul li {
		margin-right: 15px
	}
}

.header-area_suites .main-header-area .main-menu ul li a {
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	display: inline-block;
	padding: 0px 0px 10px 0px;
	font-family: "Raleway", sans-serif;
	position: relative;
	text-transform: capitalize
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area_suites .main-header-area .main-menu ul li a {
		font-size: 15px
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area_suites .main-header-area .main-menu ul li a {
		font-size: 15px
	}
}

.header-area_suites .main-header-area .main-menu ul li a i {
	font-size: 9px
}

@media (max-width: 767px) {
	.header-area_suites .main-header-area .main-menu ul li a i {
		display: none !important
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites .main-header-area .main-menu ul li a i {
		display: none !important
	}
}

.header-area_suites .main-header-area .main-menu ul li a::before {
	position: absolute;
	content: "";
	background: #fff;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	opacity: 0;
	transform: scaleX(0);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.header-area_suites .main-header-area .main-menu ul li a:hover::before {
	opacity: 1;
	transform: scaleX(1)
}

.header-area_suites .main-header-area .main-menu ul li a.active::before {
	opacity: 1;
	transform: scaleX(1)
}

.header-area_suites .main-header-area .main-menu ul li a:hover {
	color: #fff
}

.header-area_suites .main-header-area .main-menu ul li .submenu {
	position: absolute;
	left: 0;
	top: 140%;
	background: #fff;
	width: 200px;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
	opacity: 0;
	visibility: hidden;
	text-align: left;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	transition: .6s
}

.header-area_suites .main-header-area .main-menu ul li .submenu li {
	display: block
}

.header-area_suites .main-header-area .main-menu ul li .submenu li a {
	padding: 10px 15px;
	position: inherit;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	display: block;
	color: #000
}

.header-area_suites .main-header-area .main-menu ul li .submenu li a::before {
	display: none
}

.header-area_suites .main-header-area .main-menu ul li .submenu li:hover a {
	color: #000
}

.header-area_suites .main-header-area .main-menu ul li:hover>.submenu {
	opacity: 1;
	visibility: visible;
	top: 100%
}

.header-area_suites .main-header-area .main-menu ul li:hover>a::before {
	opacity: 1;
	transform: scaleX(1)
}

.header-area_suites .main-header-area .main-menu ul li:first-child a {
	padding-left: 0
}

.header-area_suites .main-header-area.sticky {
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	top: -70px;
	left: 0;
	right: 0;
	z-index: 99;
	transform: translateY(70px);
	transition: transform 500ms ease, background 500ms ease;
	-webkit-transition: transform 500ms ease, background 500ms ease;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
	padding: 10px 150px;
	background: #000
}

@media (max-width: 767px) {
	.header-area_suites .main-header-area.sticky {
		padding: 10px 10px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-area_suites .main-header-area.sticky {
		padding: 10px 10px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header-area_suites .main-header-area.sticky {
		padding: 10px 20px
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.header-area_suites .main-header-area.sticky {
		padding: 10px 20px
	}
}

.header-area_suites .main-header-area.sticky .main-menu {
	padding: 0
}

.google-map {
	padding-bottom: 50%;
	position: relative;
	margin-left: 10px;
}

.google-map iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	margin-left: 10px;
}


.slider_bg_1 {
	background-image: url(../img/Suites\ \(Background_01\).jpg)
}

.slider_bg_2 {
	background-image: url(../img/banner/banner4.jpg)
}

.slider_bg_3 {
	background-image: url(../img/banner/banner3.jpg);
}

.slider_area_Oaksuite .single_slider {
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider_area_Oaksuite .single_slider .slider_text h3 {
	color: #ffffff;
	font-family: 'greek_elegance', sans-serif;
	font-size: 100px;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-weight: 400;
	margin-bottom: 4px;
	cursor: pointer;
}

h3 span {
	transition: 0.5s;
}

h3:hover span:nth-child(1) {
	margin-right: 10px;
}

h3:hover span:nth-child(2) {
	margin-left: 10px;
}

h3:hover span {
	text-shadow: 0 0 10px #fff;
	text-shadow: 0 0 20px #fff;
	text-shadow: 0 0 40px #fff;
}

@media (max-width: 767px) {
	.slider_area_Oaksuite .single_slider .slider_text h3 {
		font-size: 33px;
		letter-spacing: 3px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.slider_area_Oaksuite .single_slider .slider_text h3 {
		font-size: 30px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.slider_area_Oaksuite .single_slider .slider_text h3 {
		font-size: 35px;
		letter-spacing: 3px
	}
}

.slider_area_Oaksuite .single_slider .slider_text p {
	font-size: 24px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 0
}

@media (min-width: 992px) and (max-width: 1200px) {
	.slider_area_Oaksuite .single_slider .slider_text p {
		font-size: 16px
	}
}

@media (max-width: 767px) {
	.slider_area_Oaksuite .single_slider .slider_text p {
		font-size: 16px
	}
}

.about_bg_1 {
	background-image: url(../img/Oak\ Suite\ \(Hotel\,\ Thessaloniki\,\ Rooms\)\ 01.jpg)
}

.about_info_area_suites {
	padding-left: 0px;

	padding-bottom: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.about_info_area_suites {
		padding-left: 0px
	}
}

@media (max-width: 767px) {
	.about_info_area_suites {
		padding-left: 0px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.about_info_area_suites {
		padding-left: 0px
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.about_info_area_suites {
		padding-left: 0px
	}
}

.about_info_area_suites .single_slider {
	height: 750px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}

@media (max-width: 767px) {
	.about_info_area_suites .single_slider {
		height: 400px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.about_info_area_suites .single_slider {
		height: 400px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.about_info_area_suites .single_slider {
		height: 500px;
	}
}

.about_main_info {
	padding-top: 100px;
}

@media (max-width: 767px) {
	.about_main_info {
		padding-top: 50px
	}
}

.about_main_info .single_about_info {
	margin-bottom: 43px
}

@media (max-width: 767px) {
	.about_main_info .single_about_info {
		margin-bottom: 30px
	}
}

.about_main_info .single_about_info h3 {
	font-size: 22px;
	color: #1F1F1F;
	margin-bottom: 0;
	margin-bottom: 10px;
	line-height: 32px
}

.about_main_info .single_about_info p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #4D4D4D
}

@media (max-width: 767px) {
	.about_main_info .single_about_info p br {
		display: none
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.about_main_info .single_about_info p br {
		display: none
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.about_main_info .single_about_info p br {
		display: none
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.about_main_info .single_about_info p br {
		display: none
	}
}